.faq {
  margin: 40px 0;

  @media (max-width: $breakpoint992) {
    margin: 24px 0;
  }

  // .faq__inner

  &__inner {
    border-radius: 16px;
    padding: 24px;
    background-color: #0a0012;

    @media (max-width: $breakpoint992) {
      padding: 20px 16px;
    }
  }

  // .faq__head

  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
  }

  // .faq__title

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: var(--white);

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }
  }

  // .faq__subtitle

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #848484;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }
  }

  // .faq__accordion

  &__accordion {}
}