// ************************ Модальное окно ************************ //
.modals-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  margin: 100px 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
  background: rgba(21, 21, 22, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 1;
}

.modal-content {
  background-color: #0a0012;
  margin: auto;
  padding: 18px 20px 30px;
  border-radius: 16px;
  width: 96%;
  max-width: 500px;
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  &--small {
    max-width: 410px;
  }
}

.modal.show .modal-content {
  opacity: 1;
  transform: translateY(0);
}

.close-modal-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: 0;
}



.modal {

  // .modal__head

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
  }

  // .modal__label

  &__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
  }

  // .modal__title

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--white);

    &--center {
      margin: 0 auto;
      text-align: center;
    }
  }

  // .modal__inner

  &__inner {}
}

.network-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.network-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 12px 20px;
  border-radius: 10px;

  &.active {
    background-color: #363a41;
  }

  // .network-item__icon

  &__icon {}

  // .network-item__name

  &__name {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
  }
}



.network-item--disabled {}

.select-tokens {

  // .select-tokens__top

  &__top {
    margin-bottom: 24px;
    border-bottom: 1px solid #2a2a2a;
  }

  // .select-tokens__bottom

  &__bottom {}
}


.confirm-swap {

  // .confirm-swap__steps

  &__steps {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-top: 24px;
  }

  // .confirm-swap__step

  &__step {
    display: flex;
    align-items: center;
    column-gap: 14px;
  }

  // .confirm-swap__step--first

  &__step--first {

    .confirm-swap__step-icon {
      background-color: #4dfd30;
    }
  }

  // .confirm-swap__step-icon

  &__step-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 100%;
  }

  // .confirm-swap__step-texts

  &__step-texts {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  // .confirm-swap__step-text

  &__step-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
  }

  // .confirm-swap__step-border

  &__step-border {
    margin-left: 20px;
  }

  // .confirm-swap__step--second

  &__step--second {

    .confirm-swap__step-icon {
      background-color: #ec4c99;
    }
  }

  // .confirm-swap__step-text--lite

  &__step-text--lite {
    font-size: 12px;
    color: #9a9a9a;
  }
}

.swap-success {
  display: flex;
  flex-direction: column;
  align-items: center;

  // .swap-success__check

  &__check {
    margin: 0 auto 12px;
  }

  // .swap-success__title

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: var(--white);

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .swap-success__columns

  &__columns {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 34px;

    @media (max-width: $breakpoint768) {
      column-gap: 4px;
      margin-bottom: 24px;
    }
  }

  // .swap-success__column

  &__column {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  // .swap-success__column-icon

  &__column-icon {

    @media (max-width: $breakpoint768) {
      width: 20px;
      height: 20px;
    }
  }

  // .swap-success__column-text

  &__column-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--white);

    @media (max-width: $breakpoint768) {
      font-size: 12px;
    }
  }

  // .swap-success__btn

  &__btn {
    max-width: 200px;
    width: 100%;
    height: 48px;
  }
}

.liqudity {

  // .liqudity__head

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 20px;

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  // .liqudity__head-percent

  &__head-percent {
    font-size: 12px;
    line-height: 120%;
    color: var(--white);
  }

  // .liqudity__head-info

  &__head-info {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  // .liqudity__head-btns

  &__head-btns {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .liqudity__head-btn

  &__head-btn {
    height: 40px;
    max-width: 150px;
    width: 100%;
    font-size: 12px;
    white-space: nowrap;
  }


  // .liqudity__head-icons

  &__head-icons {
    display: flex;
    flex-direction: column;
  }

  // .liqudity__head-icon

  &__head-icon {

    &:nth-child(2) {
      margin-top: -20px;
      margin-left: 12px;
    }
  }

  // .liqudity__head-names

  &__head-names {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--white);
  }

  // .liqudity__head-name

  &__head-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--white);
  }

  // .liqudity__head-range

  &__head-range {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-align: right;
    color: #ec4c99;
  }

  // .liqudity__tokens

  &__tokens {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 16px 20px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #363a41;
  }

  // .liqudity__tokens-item

  &__tokens-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    justify-content: space-between;
  }

  // .liqudity__tokens-info

  &__tokens-info {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  // .liqudity__tokens-icon

  &__tokens-icon {}

  // .liqudity__tokens-name

  &__tokens-name {
    font-size: 16px;
    line-height: 100%;
    color: var(--white);
  }

  // .liqudity__tokens-sum

  &__tokens-sum {
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: var(--white);
  }

  // .liqudity__set

  &__set {}

  // .liqudity__set-head

  &__set-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 8px;
  }

  // .liqudity__set-label

  &__set-label {
    font-size: 14px;
    line-height: 120%;
    color: var(--white);
  }

  // .liqudity__set-tokens

  &__set-tokens {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #363a41;
  }

  // .liqudity__set-token

  &__set-token {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #acacac;

    &.active {
      color: #ec4c99;
    }
  }

  // .liqudity__set-columns

  &__set-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 10px;
    margin-bottom: 16px;
  }

  // .liqudity__set-column

  &__set-column {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: baseline;
    row-gap: 8px;
    padding: 18px 20px;
    border-radius: 10px;
    background-color: #363a41;
  }

  // .liqudity__set-text

  &__set-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: var(--white);
  }

  // .liqudity__set-sum

  &__set-sum {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: var(--white);
  }

  // .liqudity__set-descr

  &__set-descr {
    max-width: 160px;
    margin: 0 auto;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    color: var(--white);
  }

  // .liqudity__set-column--column-2

  &__set-column--column-2 {
    grid-column: span 2;
  }

  // .liqudity__btn

  &__btn {
    height: 48px;
    width: 100%;
  }
}

.waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 16px;
  row-gap: 8px;

  // .waiting__loader

  &__loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 6px solid #0a0012;
    border-top-color: #ec4c99;
    border-right-color: #ec4c99;
    border-bottom-color: #ec4c99;
    border-radius: 50%;
    width: 131px;
    height: 131px;
    margin-bottom: 18px;
  }

  // .waiting__title

  &__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: var(--white);
  }

  // .waiting__subtitle

  &__subtitle {
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: var(--white);
  }

  // .waiting__text

  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: var(--white);
  }
}